<div class="sudokuGrid">
  <ul>
    <li v-for="(squares, r) in squareData">
      <ul v-bind:class="getRowClass(r)">
        <li v-for="(square, c) in squares">
          <div
            v-if="square.isHint"
            v-bind:class="square.getClasses()">
            {{ square.value }}
          </div>

          <button
            v-else-if="square.isGuessMode"
            v-bind:class="square.getClasses()"
            v-on:click="state.onBoardClick(r, c)">
            {{ square.guess }}
          </button>

          <div
            v-else
            v-bind:class="square.getClasses()"
            v-on:click="state.onBoardClick(r, c)"
            >
            <table class="noteGrid">
              <tr v-for="(noteRow, nr) in square.notes">
                <td v-for="(note, nc) in noteRow" v-bind:class="square.getNoteClasses(nr, nc)" :key="nc">
                  {{ square.getNote(nr, nc) }}
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
