$cell_size: 48px;

.activeSquare {
    background-color: #aabbaa;
}

.sudokuSection button {
    box-sizing: content-box;
    cursor: pointer;
    display: block;
}

.buttonGrid {
    margin: 1em;
    margin-right: 1em;

    button {
        border: 1px solid #000011;
        border-radius: 10px;
        font-size: 24px;
        height: 1.5 * $cell_size;
        width: 1.5 * $cell_size;
        margin: 0;
        padding: 0;
    }

    .activeNumpadButton {
        background-color: #ccccdd;
    }
}

.sudokuSection button:focus {
    outline: 2px dotted #000011;
}

.modeSelect {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.modeSelect input[type="radio"] {
    display: none;
}

.modeSelect label {
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin: 10px;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    width: 10em;
}

.modeSelect input[type="radio"]:checked+label {
    background-color: #555577;
    color: #ddddff;
}

.sudokuBoard, .sudokuInput .sudokuRow {
    display: flex;
}

.sudokuBoard {
    background-color: #444455;
    flex-direction: column;
    list-style: none;
    padding: 2em;

    ul {
        padding-bottom: 0;
        padding-left: 0;
    }
}

.sudokuRow {
    flex-direction: row;
    list-style: none;
    margin-bottom: 5px;
}

.sudokuSection {
    align-items: center;
    background-color: #9999aa;
    display: flex;
    justify-content: space-around;
    min-height: 500px;
    min-width: 1000px;
}

.noteSquare {
    border: none;
    cursor: pointer;
    font-size: 9px;
    height: $cell_size;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    width: $cell_size;
    text-align: center;

    table {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
    }

    tr {
        align-items: stretch;
        display: flex;
        justify-content: space-around;
        min-height: 12px;
        min-width: 100%;
    }

    td {
        min-height: 12px;
        min-width: 8px;
    }
}

.activeNote {
    color: #000011;
}

.sudokuSquare, .defaultFilledSquare {
    border: none;
    font-size: 24px;
    height: $cell_size;
    line-height: $cell_size;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    width: $cell_size;
    text-align: center;
}

.paddingRow {
    margin-bottom: 10px;
}

.paddingSquare {
    margin-right: 10px;
}

.sudokuBoard, .sudokuInput {
    border-radius: 10px;
}

.sudokuInput {
    align-items: center;
    background-color: #ddddff;
    flex-direction: column;
    height: 30em;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
}

.inactiveSquare {
    background-color: #ffffff;
}

.defaultFilledSquare {
    background-color: #ccccdd;
}
